#
# Siano Mobile Silicon Digital TV device configuration
#

config BACKPORT_SMS_SDIO_DRV
	tristate "Siano SMS1xxx based MDTV via SDIO interface"
	depends on !SMS_SDIO_DRV
	depends on BACKPORT_DVB_CORE && HAS_DMA
	depends on MMC
	depends on !RC_CORE || BACKPORT_RC_CORE
	select BACKPORT_MEDIA_COMMON_OPTIONS
	select BACKPORT_SMS_SIANO_MDTV
	---help---
	  Choose if you would like to have Siano's support for SDIO interface
